@import '../../../variables.scss';

.footer-section{
  background-color: #39414C;
  background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/q_30,fl_progressive/v1534421668/ms-mobile-web/map.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  position: relative;
  padding:1.5rem 0;  
  .footer-content{
    margin-bottom: 3rem;
    padding: 0 1.5rem; 
    .footer-columns{
      @include flex;
      .footer-column{
        margin-bottom: 1rem;
        @media screen and (min-width: 400px) {
          flex: 1 1 auto;
        }
        &.column-subscriber{
          padding-right: 5rem;
        }
      }
      .logo-content{
        margin-top: 1rem;
      }
      .footer-title{
        text-transform: uppercase;
        color: #969696;
      }
      .content-list{
        margin-top: 1.2rem;
        &.news-letter-list input{
          border-radius: 17px;
        }
        &.news-letter-list .btn-submit{
          border-radius: 17px;
          width: 100%;
        }
        &.connect-list .list-title{
          margin-bottom: 0.5rem;
        }
        .list-title{
          display: block;
          color: #cccccc;
          margin-bottom: 0.5rem;
          a{
            color: #cccccc;
          }
        }
      }
      .fa-icon-stack{
        display: inline-block;
        line-height: 2em;
        position: relative;
        vertical-align: middle;
        width: 2rem;
        background-color: #cccccc;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.3rem;
      }
    }
  
  }
  .footer-overlay{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 0.5rem 0;
    .copyright-text{
      color: #969696;
    }
    .copyright-subtext{
      color: #29abe2;
    }
  }
}