<footer class="footer footer-section">
  <div class="container footer-content">
    <div class="footer-columns">
      <div class="footer-column">
        <a class="logo" href="https://bulma.io">
          <img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1511450194/millionspaces/logo.svg" alt="MillionSpaces"
            width="90" />
        </a>
        <div class="content logo-content">
          <p class="footer-title">
            Follow us on
          </p>
          <div class="content-images">
            <span class="fa-icon-stack"><i class="fab fa-facebook-f"></i></span>
            <span class="fa-icon-stack"><i class="fab fa-instagram"></i></span>
            <span class="fa-icon-stack"><i class="fab fa-google-plus-g"></i></span>
            <span class="fa-icon-stack"><i class="fab fa-twitter"></i></span>
          </div>
        </div>
      </div>
      <div class="footer-column is-hidden-mobile">
        <p class="footer-title">
          Company
        </p>
        <div class="content-list">
          <span class="list-title"><a href="">Find a space</a></span>
          <span class="list-title"><a href="">List a space</a></span>
          <span class="list-title"><a href="">Blog</a></span>
          <span class="list-title"><a href="">About Us</a></span>
          <span class="list-title"><a href="">Contact</a></span>
          <span class="list-title"><a href="">Terms & Privacy Policy</a></span>
        </div>
      </div>
      <div class="footer-column is-hidden-mobile column-subscriber">
        <p class="footer-title">
          Newsletter subscriber
        </p>
        <div class="content-list news-letter-list">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Name">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <a class="button is-link btn-submit">submit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-column">
        <p class="footer-title">
          Connect with us
        </p>
        <div class="content-list connect-list">
          <span class="list-title"><i class="fas fa-map-marker-alt"></i>&nbsp; 69, Riverside Office, Sinagpore </span>
          <span class="list-title"><i class="fas fa-phone-volume"></i>&nbsp; +6294203494</span>
          <span class="list-title"><i class="far fa-envelope"></i>&nbsp; hello@millionspaces.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-overlay"><span class="copyright-text">© 2018 All Rights Reserved. </span><a href="" class="copyright-subtext">MillionSpaces</a></div>
</footer>