<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1511450194/millionspaces/logo.svg" alt="MillionSpaces" />
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="millionNavbar">
      <span aria-hidden="true"></span> <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="millionNavbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item"> Find a space </a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button button-primary"> List your space </a>
        </div>
      </div>
      <a class="navbar-item"> Sign in </a>
    </div>
  </div>
</nav>
