.navbar {
  background: transparent;
  &.scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    color: #000000;
    .navbar-item {
      color: #000000;
    }
    .navbar-item:hover {
      color: #000000;
    }
  }
  .navbar-item {
    color: #ffffff;
  }
  .navbar-item:hover {
    color: #ffffff;
  }
}