<section class="hero is-medium has-carousel slider-section">
  <div class="is-carousel">
    <div class="carousel-container">
      <div class="slide show" style="background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/w_400,g_south_west,y_400,l_msk_mskalx/q_50,fl_progressive/millionspaces/qkjfvaubnjmeazs5wksh');">
        <div class="carousel-overlay"></div>
      </div>
      <div class="slide" style="background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/w_400,g_south_west,y_400,l_msk_mskalx/q_50,fl_progressive/millionspaces/wumbdwalhnjzutib2c0r');">
        <div class="carousel-overlay"></div>
      </div>
      <div class="slide" style="background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/w_400,g_south_west,y_400,l_msk_mskalx/q_50,fl_progressive/millionspaces/jborqciw2tlqhjcc01a6');">
        <div class="carousel-overlay"></div>
      </div>
    </div>
  </div>
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="slider-content">
        <h2 class="slider-title">
          Find & Book <span class="title-bold">Meeting</span> Spaces. Real-time.
        </h2>
        <div class="slider-dropdown">
          <div class="field">
            <div class="control has-icons-left">
              <div class="select is-default">
                <select class="select-wrap select-left">
                  <option selected disabled hidden>Select Area</option>
                  <option>CBD</option>
                  <option>Central</option>
                  <option>Lavender</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-map-marker-alt"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <div class="select is-default">
                <select class="select-wrap select-right">
                  <option selected disabled hidden>Select event type</option>
                  <option>Meeting</option>
                  <option>Party</option>
                  <option>Coworking space</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-glass-martini-alt"></i>
              </div>
            </div>
          </div>
          <div class="buttons button-wrap">
            <a class="button button-primary btn-find"> Find </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero featured-section">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-centered section-title">Featured Spaces</p>
      <div class="featured-wrap columns">
          <div class="feature-column column is-half-tablet is-landsacpe-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
              <div class="feature-thumbnail">
                <figure class="image thumb-img">
                  <img
                    src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,fl_progressive/f_auto/millionspaces/raxvfcjv4jr9wbsnjhph"
                  />
                </figure>
                <div class="price-box-wrapper">
                  <span class="price-label">Starting From</span>
                  <span class="cut-price">LKR 4,200</span>
                  <span class="price">LKR 2,000</span>
                </div>
              </div>
              <div class="thumbnail-content">
                <div class="name-and-org">
                  <span class="title content-title">Meeting Room</span>
                  <span
                    class="sub-title"
                    title="Beautiful meeting spaces beautiful"
                    >Beautiful meeting spaces beautiful</span
                  >
                </div>
                <div class="user-count">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span class="count">20</span>
                </div>
              </div>
            </div>
            <div class="feature-column column is-half-tablet is-landsacpe-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
              <div class="feature-thumbnail">
                <figure class="image thumb-img">
                  <img
                    src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,fl_progressive/f_auto/millionspaces/m6nxqtijrfceydqpghlm"
                  />
                </figure>
                <div class="price-box-wrapper">
                  <span class="price-label">Starting From</span>
                  <span class="price">LKR 2000</span>
                </div>
                <!--
                  <div class="offer-wrapper">
                    <span class="price-label">LKR<br>200<br>OFF</span>
                  </div>
                -->
              </div>
              <div class="thumbnail-content">
                <div class="name-and-org">
                  <span class="title content-title">Meeting Room</span>
                  <span
                    class="sub-title"
                    title="Beautiful meeting spaces beautiful"
                    >Beautiful meeting spaces beautiful</span
                  >
                </div>
                <div class="user-count">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span class="count">20</span>
                </div>
              </div>
            </div>
            <div class="feature-column column is-half-tablet is-landsacpe-tablet  is-half-desktop is-one-third-widescreen is-one-third-fullhd">
              <div class="feature-thumbnail">
                <figure class="image thumb-img">
                  <img
                    src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,fl_progressive/f_auto/millionspaces/rnhcq8juogeuzxw1dtpn"
                  />
                </figure>
                <div class="price-box-wrapper">
                  <span class="price-label">Starting From</span>
                  <span class="price">LKR 2000</span>
                </div>
                <!--
                  <div class="offer-wrapper">
                    <span class="price-label">LKR<br>200<br>OFF</span>
                  </div>
                -->
              </div>
              <div class="thumbnail-content">
                <div class="name-and-org">
                  <span class="title content-title">Meeting Room</span>
                  <span
                    class="sub-title"
                    title="Beautiful meeting spaces beautiful"
                    >Beautiful meeting spaces beautiful</span
                  >
                </div>
                <div class="user-count">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span class="count">200</span>
                </div>
              </div>
            </div>

            <div class="feature-column column is-half-tablet is-landsacpe-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
              <div class="feature-thumbnail">
                <figure class="image thumb-img">
                  <img
                    src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,fl_progressive/f_auto/millionspaces/qcxizkfgh6ruvmj3yp33"
                  />
                </figure>
                <div class="price-box-wrapper">
                  <span class="price-label">Starting From</span>
                  <span class="cut-price">LKR 4,200</span>
                  <span class="price">LKR 2,000</span>
                </div>
              </div>
              <div class="thumbnail-content">
                <div class="name-and-org">
                  <span class="title content-title">Meeting Room</span>
                  <span
                    class="sub-title"
                    title="Beautiful meeting spaces beautiful"
                    >Beautiful meeting spaces beautiful</span
                  >
                </div>
                <div class="user-count">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span class="count">20</span>
                </div>
              </div>
            </div>

            <div class="feature-column column is-half-tablet is-landsacpe-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
              <div class="feature-thumbnail">
                <figure class="image thumb-img">
                  <img
                    src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,fl_progressive/f_auto/millionspaces/a5evwdmuhjzqqd8ha6kx"
                  />
                </figure>
                <div class="price-box-wrapper">
                  <span class="price-label">Starting From</span>
                  <span class="cut-price">LKR 4,200</span>
                  <span class="price">LKR 2,000</span>
                </div>
              </div>
              <div class="thumbnail-content">
                <div class="name-and-org">
                  <span class="title content-title">Meeting Room</span>
                  <span
                    class="sub-title"
                    title="Beautiful meeting spaces beautiful"
                    >Beautiful meeting spaces beautiful</span
                  >
                </div>
                <div class="user-count">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span class="count">2000</span>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
<section class="hero how-works-section">
  <div class="hero-body">
    <div class="container responsive-container">
      <p class="title has-text-centered section-title">How it works</p>
      <div class="columns how-works-wrap">
        <div class="column">
          <div class="icon-wrap"><i class="fas fa-search fa-icon"></i></div>
          <div class="content">
            <span class="title content-title">Search</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="next-icon"><i class="fas fa-chevron-right"></i></div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-laptop  fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Book</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="next-icon"><i class="fas fa-chevron-right"></i></div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-wine-glass-alt  fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Party</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero confirmation-section">
  <div class="hero-body confirmation-wrap">
    <div class="overlay">
      <div class="confirmation-container">
        <div class="container confirm-content responsive-container">
          <p class="title confirm-title">Instant Booking Confirmation</p>
          <p class="sub-title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatem nisi, doloremque ab, corrupti ratione eos repellendus
            aut recusandae tempore sint autem atque at quibusdam cupiditate
            sit quia quod? Nulla, dolores!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero why-ms-section">
  <div class="hero-body">
    <div class="container responsive-container">
      <p class="title has-text-centered section-title">Why Millionspaces?</p>
      <div class="columns why-ms-wrap">
        <div class="column">
          <div class="icon-wrap"><i class="fas fa-search fa-icon"></i></div>
          <div class="content">
            <span class="title content-title">Price Transparency</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-wine-glass-alt fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Vast Choice</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-wine-glass-alt  fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Curated Spaces</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-wine-glass-alt  fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Localized Expertise</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
        <div class="column">
          <div class="icon-wrap">
            <i class="fas fa-wine-glass-alt  fa-icon"></i>
          </div>
          <div class="content">
            <span class="title content-title">Enhanced Flexibility</span>
            <span class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Aperiam, explicabo blanditiis error dignissimos quisquam culpa
              laudantium voluptatibu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero clients-section">
  <div class="hero-body">
    <div class="container responsive-container">
      <p class="title has-text-centered section-title">Clients & Partners</p>
      <div class="clients-content">
        <div class="exclamation-wrap"><i class="fas fa-quote-right fa-icon"></i></div>
        <p class="sub-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, debitis reprehenderit
          ad consequatur voluptate atque, aliquam adipisci rem dicta delectus velit praesentium quia neque
          consectetur dolorum repellendus nobis? Repellat, asperiores?</p>
        <div class="client-images">
          <div class="client-columns">
            <div class="client-column">
              <div class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>John Smith</strong>
                      <br>
                      CEO
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="client-column">
              <div class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>John Smith</strong>
                      <br>
                      Director
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="client-column">
              <div class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>John Smith</strong>
                      <br>
                      Manager
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clients-slider">
        <div class="columns clients-web">
          <div class="column">
            <figure class="images">
              <img src="https://www.singsaver.com.sg/s3/singapore/singsaver.com.sg/secured-production/sg/images/providerLogos/xHSBC.png.pagespeed.ic.yrBIAza6Eh.png"
                alt="" height="50">
            </figure>
          </div>
          <div class="column">
            <figure class="images">
              <img src="https://www.sportsvideo.org/new/wp-content/uploads/2018/02/Canon-NEWEST-EVENT-SPECS-200X100.png"
                alt="" height="50">
            </figure>
          </div>
          <div class="column">
            <figure class="images">
              <img src="https://cdn.simba.com/wp-content/uploads/2015/11/google_logo_partner.png" alt="" height="50">
            </figure>
          </div>
          <div class="column">
            <figure class="images">
              <img src="https://www.singsaver.com.sg/s3/singapore/singsaver.com.sg/secured-production/sg/images/providerLogos/xHSBC.png.pagespeed.ic.yrBIAza6Eh.png"
                alt="" height="50">
            </figure>
          </div>
          <div class="column">
            <figure class="images">
              <img src="https://www.sportsvideo.org/new/wp-content/uploads/2018/02/Canon-NEWEST-EVENT-SPECS-200X100.png"
                alt="" height="50">
            </figure>
          </div>
          <div class="column">
            <figure class="images">
              <img src="https://cdn.simba.com/wp-content/uploads/2015/11/google_logo_partner.png" alt="" height="50">
            </figure>
          </div>
        </div>
        <div class="carousel-container">

        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero news-section">
  <div class="hero-body">
    <div class="container news-container">
      <p class="title has-text-centered section-title">MillionSpaces in the News</p>
      <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true" data-delay="8000">
        <div class='carousel-container'>
          <div class='carousel-item is-active'>
            <div class="info-image">
              <img class="is-background" src="http://pngimage.net/wp-content/uploads/2018/06/sph-png-7.png" alt=""
                width="240" />
            </div>
            <div class="info-container">
              <div class="info-left">
                <span class="space-name">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
                  delectus, quod natus omnis ex sit dolores fugiat possimu</span>
              </div>
              <div class="info-right">
                <span class="space-name"><a href="/">Read Article</a><br />02.05.2018</span>
              </div>
            </div>
          </div>
          <div class='carousel-item'>
            <div class="info-image">
              <img class="is-background" src="http://pngimage.net/wp-content/uploads/2018/06/sph-png-7.png" alt=""
                width="240" />
            </div>
            <div class="info-container">
              <div class="info-left">
                <span class="space-name">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
                  delectus, quod natus omnis ex sit dolores fugiat possimu</span>
              </div>
              <div class="info-right">
                <span class="space-name"><a href="/">Read Article</a><br />02.05.2018</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-navigation is-overlay news-navigation">
          <div class="carousel-nav-left news-nav-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right news-nav-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
