@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$family-serif: 'Nunito', sans-serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/sass/utilities/derived-variables";
@import "../node_modules/bulma/sass/utilities/animations";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/utilities/controls";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

@import "../node_modules/bulma-extensions/bulma-carousel/dist/css/bulma-carousel.sass";

.button-primary {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
  background-color: #2f95da;
  border-color: transparent;
  color: #fff;
}